@model List<Almacen.BL.Servicio>

@{
    ViewBag.Title = "Index";
}

<h2>Contamos con los siguientes servicios</h2>

@foreach (var servicio in Model)
{
    <p>
        @servicio.Descripcion
    </p>
}
